*{
	margin:0;
	padding:0;
	font-style:normal;
	font-weight:normal;
}
dl,dt,dd{
	display:block;
	margin:0;
}
body{
	background-color: white !important;
	overflow:hidden;
}
a{
	text-decoration:none;
}
input{
	border: 1px solid #ddd;
}
.main{
	border: 1px solid #eaeaea;
	width: 350px;
	height: auto;
	background-color: #fefefe;
	position: absolute;
	  left:50%; 
	  top:50%;
	  margin-left: -175px; 
	  margin-top: -180px; 
}
.main h2{
	height: 18px;
	line-height: 18px;
	//font-family: 微软雅黑;
	font-size: 32px;
	color: #3c3c3c;
	margin-top: 40px;
	margin-left: 30px;
	padding-bottom: 35px;
	font-weight: 700;
}
.sign-in .filed{
	line-height: 60px;
	margin-left: 30px;
}
.main form label{
	height: 40px;
	width: 40px;
	background-color: #ddd;
	margin-top: 0px;
}
.main form label span{
	display: block;
	font-size: 24px;
	text-align: center;
	color: white;
	padding-top: 3px;                                             
}
.main form input{
	width: 240px;
	height: 40px;
	margin-left: -4px;
	padding-top: 4px;
}
.main .error-mess{
	margin-left: 30px;
	color: #b74d46;
	border: 1px solid #ffd2d2;
	width: 280px;
	height: 30px;
	line-height: 30px;
	background-color: #fff0f0;
}
.main ul{
	margin-left: 30px;
	margin-top: 20px;
	width: 300px;
}
.main ul li{
	list-style-type: none;
	float: left;
}
.main ul #forget{
	float: left;
}
.main ul #free{
	float: right;
}
.main button{
  width: 300px;
  height: 40px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  line-height: 42px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: #dc3c00;
  border-radius: 3px;
  cursor: pointer;
  zoom: 1;
}
.main button:hover{
	background-color: #be1a21;
}
.auto-login{
	color:black;
	font-family:微软雅黑;
}
.foget-pass{
	font-family:微软雅黑;
}
.register-message{
	padding-left: 58%;
	color:black;
	font-family:微软雅黑;
}
#rememberMe{
	height: 13px;
	width: 13px;
}
#null_mail{
	display: none;
}
#null_password{
	display: none;
}
#error_password{
	display: none;
}